div(ng-controller='Login').container
  form(ng-submit='processForm()').form-signin
    h2.from-signin-heading Please sign in
    input(type='email'
        ng-model="formData.email"
        placeholder="Email address"
       ).form-control
    input(type='password'
        ng-model="formData.password"
        placeholder="Password").form-control
    button(
      type='submit'
    ).btn.btn-lg.btn-primary.btn-block Login

link(rel='stylesheet', href='/css/login.css')
    
